@using Microsoft.AspNetCore.Components.Routing
@using Horizontal.Models.Admin

@model UrlMappingModel
@{
    Layout = "/Views/Admin/_AdminLayout.cshtml";
}

@section AdminScripts {
    <script type="text/javascript" src="/js/admin-forms.js"></script>
}

<h3>Detail a editace mapování vlastní URL</h3>

<form method="post" action="edit">
    <fieldset>
        <input type="hidden" name="Id" value="@Model.Id">

        <div class="form-group">
            <input name="IsActive" class="form-check-input" type="checkbox" value="@(Model.IsActive ? "true" : "false")" @(Model.IsActive ? "checked" : "") />
            <label for="IsActive" class="form-check-label">Aktivní</label>
        </div>
        <div class="form-group">
            <label for="OriginalUrl">Původní URL</label>
            <input name="OriginalUrl" class="form-control" value="@Model.OriginalUrl" />
        </div>
        <div class="form-group">
            <label for="NewUrl">Nová URL</label>
            <input name="NewUrl" class="form-control" value="@Model.NewUrl" />
        </div>
    </fieldset>

    <button type="submit" class="btn btn-success mb-2" style="margin-top:10px">Uložit změny</button>
</form>