@using Microsoft.AspNetCore.Components.Routing
@using Horizontal.Models.Admin

@model AdminCategoryModel
@{
    Layout = "/Views/Admin/_AdminLayout.cshtml";
}

@section AdminScripts {
        <script type="text/javascript" src="/js/admin-forms.js"></script>
}

<h3>Detail a editace kategorie</h3>

<form method="post" action="edit">
    <fieldset>
        <input type="hidden" name="Id" value="@Model.Id">

        <div class="form-group">
            <label for="Name">Název</label>
            <input name="Name" class="form-control" value="@Model.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ParentCategoryName">Jméno nadřazené kategorie</label>
            <input name="ParentCategoryName" class="form-control" value="@Model.ParentCategoryName" />
        </div>
        <div class="form-group">
            <label for="ChildCategoryNames">Názvy podřízených kategorií</label>
            <textarea name="ChildCategoryNames" class="form-control" rows="3" placeholder="Kategorie 1, Kategorie 2, Kategorie 3">@Model.ChildCategoryNames</textarea>
        </div>
        <div class="form-group">
            <label for="ArticleShortNames">Názvy článků kategorie</label>
            <textarea name="ArticleShortNames" class="form-control" rows="6" placeholder="Kategorie 1, Kategorie 2, Kategorie 3">@Model.ArticleShortNames</textarea>
        </div>
        <div class="form-group">
            <label for="PageTitle">Titulek stránky kategorie (zobrazený mimo jiné v záložce prohlížeče)</label>
            <input name="PageTitle" class="form-control" value="@Model.PageTitle" />
        </div>
        <div class="form-group">
            <label for="PageDescription">Stručný popis stránky kategorie (zobrazený např. v náhledu stránky z internetového vyhledávače)</label>
            <textarea name="PageDescription" class="form-control" rows="6" oninput="updateCharacterCount(this, 'page-description-char-count')">@Model.PageDescription</textarea>
            <span id="page-description-char-count" style="float:right">Znaků: @(Model.PageDescription?.Length ?? 0)</span>
        </div>
        <div class="form-group">
            <label for="CustomUrl">Vlastní URL</label>
            <input name="CustomUrl" class="form-control" value="@Model.CustomUrl" />
        </div>
        <div class="form-group">
            <input name="IsInTopNavbar" class="form-check-input" type="checkbox" value="@(Model.IsInTopNavbar ? "true" : "false")" @(Model.IsInTopNavbar ? "checked" : "") />
            <label for="IsInTopNavbar" class="form-check-label">V horní liště</label>
        </div>
        <div class="form-group">
            <label for="TopNavbarOrder">Pořadí v horní liště</label>
            <input name="TopNavbarOrder" class="form-control" value="@Model.TopNavbarOrder" />
        </div>        
        <div class="form-group">
            <label for="GeneralOrder">Obecné pořadí (použito pro řazení v levém navigačním panelu)</label>
            <input name="GeneralOrder" class="form-control" value="@Model.GeneralOrder" />
        </div>

        <div class="form-group">
            <input name="IsPublished" class="form-check-input" type="checkbox" value="@(Model.IsPublished ? "true" : "false")" @(Model.IsPublished ? "checked" : "") />
            <label for="IsPublished" class="form-check-label">Publikováno</label>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-success mb-2">Uložit změny</button>
</form>